#### Project Statement 
_____
- In this project, we shall be extracting data from Jumia (www.jumia.co.ke) an e-Commerce website. 

- We shall be scrapping the website to access products with discounts currently. 

- The data will be moved to a Postgres database housed at Aiven - (https://aiven.io/) 

#### Key libraries for this projects include;
___

1. Beautiful Soup - `pip install beautifulsoup4`

2. Pandas - `pip install pandas`

3. requests

#### Stage 1: Setting up the project 

- Importing the libraries,

- Setting project variables

In [49]:
# Installing necessary libaries 

from bs4 import BeautifulSoup 
import pandas as pd 
import lxml
import requests 
import time
import re
import os

# To be used with database 
from sqlalchemy import create_engine, text
from sqlalchemy.exc import OperationalError

In [91]:
BASE_URL = "https://www.jumia.co.ke/{}/?page={}#catalog-listing" # This is the BASE_URL that will be used in this project

# This list will hold the product categories we shall scrape
PRODUCT_CATEGORIES = [
    "electronics",
    "phones-tablets",
    "category-fashion-by-jumia",
    "home-office",
    "health-beauty",
    "home-office-appliances",
    "computing",
    "baby-products",
    "sporting-goods"
]

MAX_PAGE_COUNT = 45 # Sets the number of pages to scrape for every product category. Max = 50

# To make sure that we are sending requests as user agennts for all our HTTP requests.
# The default user agent using python requests in Python
PAGE_HEADERS = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36'}

### Step 2: Scrape the Website

In [92]:
def scrapper() -> list:
    """ 
    This function scrapes the project URL to find products, thier prices, and discounts prices

    Returns:
        all_products (list): A list of dictionaries containing products that have been scrapped.
    """ 

    all_products = [] # The scraped products will be added here as a list of dictionaries

    current_page_num = 1 # Holds the value for the current page being scrapped 

    # Looping through the product categories of interest
    for product_category in PRODUCT_CATEGORIES:

        print("Now Scrapping {}".format(product_category)) # Outputs the current product being scrapped

        # Make sure we don't try to access pages that don't exist
        while current_page_num <= MAX_PAGE_COUNT: 

            # print("Current Page Number {}".format(current_page_num)) # Outputs the current page being scrapped

            response = requests.get(BASE_URL.format(product_category, current_page_num), headers=PAGE_HEADERS) 

            soup = BeautifulSoup(response.text, 'lxml') # Create a soup 

            products_wrapper = soup.find_all("article", {"class": "prd _fb col c-prd"})  # Find all the HTML tags wrapping each product
            
            # Loop and access each wrapper to access specific information for earch product
            for product in products_wrapper:
                product_name = product.find("h3", {"class": "name"}).text # Access the product name 

                current_price = product.find("div", {"class": "prc"}).text # Access the current price 
 
                try: # Accounting for products that may not have old price
                    old_price = product.find("div", {"class": "old"}).text
                except:
                    old_price = "0" 

                # Create a dictionary for this product and append to the list all_products
                current_product_details = {
                    "product_name": product_name,
                    "category": product_category,
                    "current_price": current_price,
                    "old_price": old_price
                } 

                all_products.append(current_product_details)
            
            current_page_num = current_page_num + 1 # Increment this to move to the next page

            # We want the scrapper to pause for 4 seconds before making another request
            #print("Scrapper going to sleep...")
            #print("")
            time.sleep(4)
            
        # Reset the page counter when done with each category
        current_page_num = 1

    return all_products

### Step 3: Data Storage 
___ 
This stage involves storing the scrapped data to the database 

Below are the implementation details;

 - **#1.** Move the data to a Pandas Dataframe. 

 - **#2.** Perform some data cleaning tasks, e.g., transformations 

 - **#3.** Set up the database

 - **#4.** Use Pandas to move the cleaned data to our database.

#### #1. Moving the data to a Pandas Dataframe.

- Since the data from the scrapper is a list of dictionaries, we can simply create a Pandas DataFrame as follows 

    `pd.DataFrame(list_of_dictionaries)`

In [ ]:

products_df = pd.DataFrame(scrapper()) # Creates a dataframe from the scrapped data

#### #2. Perform some data cleaning tasks, e.g., transformations

In [94]:
# Overview of the data 

products_df.head()

,product_name,category,current_price,old_price
0,"Vitron HTC4388FS - 43"" Smart Android Frameless...",electronics,"KSh 19,799","KSh 28,599"
1,"Vitron V527 - 2.1 CH Multimedia Speaker, BT/US...",electronics,"KSh 5,450","KSh 7,599"
2,"Vitron HTC3200S,32""Inch Bluetooth Enabled Fram...",electronics,"KSh 14,399","KSh 18,500"
3,Amtec AM-02 2.1CH Multimedia Speaker BT/USB/SD...,electronics,"KSh 5,450","KSh 7,500"
4,"Vitron V643 3.1Ch Bluetooth Speaker System, 12...",electronics,"KSh 4,749","KSh 5,600"

In [95]:
# The column for current_price and old_price should be converted to float 
# "Ksh" and "," should also be stripped from the values 

# Removing 'Ksh' and "," from the current_price and old_price values 
products_df["current_price"] = products_df.current_price.str.replace("Ksh ", "", regex=True, flags=re.IGNORECASE).str.replace(",", "") 

products_df["old_price"] = products_df.old_price.str.replace("Ksh ", "", regex=True, flags=re.IGNORECASE).str.replace(",", "") 

products_df.head()

,product_name,category,current_price,old_price
0,"Vitron HTC4388FS - 43"" Smart Android Frameless...",electronics,19799,28599
1,"Vitron V527 - 2.1 CH Multimedia Speaker, BT/US...",electronics,5450,7599
2,"Vitron HTC3200S,32""Inch Bluetooth Enabled Fram...",electronics,14399,18500
3,Amtec AM-02 2.1CH Multimedia Speaker BT/USB/SD...,electronics,5450,7500
4,"Vitron V643 3.1Ch Bluetooth Speaker System, 12...",electronics,4749,5600

#### #3. Setting up the database and moving the data

- The database is hosted at;

  `https://aiven.io/` 

- We will use SQLAlchemy to move data in our dataframe to the databases.

- Database details have already been stored as environment variables.

In [ ]:

# Accessing the database details 
db_credentials = {
   "HOST": os.getenv("DB_HOST"),
   "NAME": os.getenv("DB_NAME"),
   "PASSWORD": os.getenv("DB_PASSWORD"),
   "PORT": os.getenv("DB_PORT"),
   "USER": os.getenv("DB_USER")
} 

# Create a database engine 
db_engine = create_engine(
    url="postgresql://{}:{}@{}:{}/{}?sslmode=require".format(
        db_credentials.get("USER"),
        db_credentials.get("PASSWORD"),
        db_credentials.get("HOST"),
        db_credentials.get("PORT"),
        db_credentials.get("NAME")
    )
) 

# We want the data to be moved to a table called "jumia_products" 
table_name = "jumia_products" 

# Using Pandas to move the scrapped data to our database 
products_df.to_sql(name=table_name, con=db_engine, if_exists="replace", index=False)

The next step is to access the data from the database and try to make simple data analysis tasks such as;

  - Comparing pricess accross product categories 

  - Average current price for each product category 

  - Average discount percentage accross all products 

Steps accessing data from our database;

 - Connect to your database using SQLAlchemy and create an engine object 
   
   `database_engine = SQLAlchemy.create_engine(url=database_url)`

  - Use Pandas to load the data from the database 

    `your_dataset = pd.read_sql('SELECT * FROM your_table', engine=database_engine)`

In [6]:
# Loading data from db

products_dataset = pd.read_sql("SELECT * FROM jumia_products", db_engine)

In [7]:
products_dataset.head()

,product_name,category,current_price,old_price
0,"Vitron HTC4388FS - 43"" Smart Android Frameless...",electronics,19799,28599
1,"Vitron V527 - 2.1 CH Multimedia Speaker, BT/US...",electronics,5450,7599
2,"Vitron HTC3200S,32""Inch Bluetooth Enabled Fram...",electronics,14399,18500
3,Amtec AM-02 2.1CH Multimedia Speaker BT/USB/SD...,electronics,5450,7500
4,"Vitron V643 3.1Ch Bluetooth Speaker System, 12...",electronics,4749,5600

In [8]:
# Dataset info 

products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16200 entries, 0 to 16199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   16200 non-null  object
 1   category       16200 non-null  object
 2   current_price  16200 non-null  object
 3   old_price      16200 non-null  object
dtypes: object(4)
memory usage: 506.4+ KB

In [13]:
# Converting prices to float datatypes 

products_dataset = products_dataset.current_price.astype("float")

ValueError: could not convert string to float: '563 - 2999'

In [27]:
# Looks the prices columns have problematic values, as indicated by the error above
# We can address these values as follows 

products_dataset = products_dataset[~products_dataset.current_price.str.contains("-", na=False)] 

products_dataset = products_dataset[~products_dataset.old_price.str.contains("-", na=False)]

In [30]:
# Datatype conversions 

products_dataset["current_price"] = products_dataset.current_price.astype("float") 

products_dataset["old_price"] = products_dataset.old_price.astype("float") 

products_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15101 entries, 0 to 16199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_name   15101 non-null  object
 1   category       15101 non-null  object
 2   current_price  15101 non-null  float64
 3   old_price      15101 non-null  float64
dtypes: float64(2), object(2)
memory usage: 589.9+ KB

In [32]:
# Average price for each product category 

products_dataset.groupby("category").agg({"current_price": "mean"})

                           current_price
category
baby-products                1656.096118
category-fashion-by-jumia     960.400281
computing                    7233.888759
electronics                  8591.986325
health-beauty                1015.336460
home-office                  3520.176859
home-office-appliances       5533.909601
phones-tablets               8630.402033
sporting-goods               2960.520721

In [37]:
# Calculating discounts 

# What you save
products_dataset["discount"] = products_dataset.old_price - products_dataset.current_price 

# Percentage Discount
products_dataset["discount_perc"] = (products_dataset.discount / products_dataset.old_price * 100).round(2)

products_dataset.head()

,product_name,category,current_price,old_price,discount,discount_perc
0,"Vitron HTC4388FS - 43"" Smart Android Frameless...",electronics,19799.0,28599.0,8800.0,30.77
1,"Vitron V527 - 2.1 CH Multimedia Speaker, BT/US...",electronics,5450.0,7599.0,2149.0,28.28
2,"Vitron HTC3200S,32""Inch Bluetooth Enabled Fram...",electronics,14399.0,18500.0,4101.0,22.17
3,Amtec AM-02 2.1CH Multimedia Speaker BT/USB/SD...,electronics,5450.0,7500.0,2050.0,27.33
4,"Vitron V643 3.1Ch Bluetooth Speaker System, 12...",electronics,4749.0,5600.0,851.0,15.20

In [46]:
# Top 10 products iwth the highest discounts

products_dataset.sort_values(by="discount_perc", ascending=False).head(10)

,product_name,category,current_price,old_price,discount,discount_perc
10636,Eurochef Glass top 2 burner,home-office-appliances,2899.0,59000.0,56101.0,95.09
10767,Nunix PB-01 Heavy Duty Professional Commercial...,home-office-appliances,4199.0,71999.0,67800.0,94.17
11970,Logitech2 C505 Webcam - 720p HD External USB ...,computing,5998.0,79999.0,74001.0,92.50
7162,Stainless Steel Thermos Vacuum Flask Plus A FR...,home-office,850.0,11200.0,10350.0,92.41
10186,Rechargeable Cordless Pressure Car Wash Machine,home-office-appliances,6000.0,70000.0,64000.0,91.43
11741,HP Refurbished complete computer set desktop ...,computing,15000.0,170000.0,155000.0,91.18
11440,3.5mm TRS Microphone to USB 2.0 Stereo Audio E...,computing,158.0,971.0,813.0,83.73
7372,Hair Clipper/Hair Trimmer/Shaving Machine-Gold,health-beauty,351.0,1800.0,1449.0,80.50
6377,1Pc Soft Velvet Woolen Duvet,home-office,1999.0,9999.0,8000.0,80.01
11771,1TB/1000GB Lenovo High-Capacity Micro TF/SD Me...,computing,1999.0,10000.0,8001.0,80.01

In [47]:
# Top 10 products based on how much you save 

products_dataset.sort_values(by="discount", ascending=False).head(10)

,product_name,category,current_price,old_price,discount,discount_perc
11741,HP Refurbished complete computer set desktop ...,computing,15000.0,170000.0,155000.0,91.18
2943,Apple iphone 15 pro max 256gb natural titanium,phones-tablets,159999.0,260000.0,100001.0,38.46
11970,Logitech2 C505 Webcam - 720p HD External USB ...,computing,5998.0,79999.0,74001.0,92.50
10767,Nunix PB-01 Heavy Duty Professional Commercial...,home-office-appliances,4199.0,71999.0,67800.0,94.17
10577,Mika 3 + 1 standing cookers with stainless ste...,home-office-appliances,68850.0,136000.0,67150.0,49.38
1382,"Hisense 65"" Inch,65A6HKEN, SMART TV,NETFLIX,UH...",electronics,85999.0,150000.0,64001.0,42.67
1395,"Hisense 65"" Inch,ULTRA HD 4K,SMART-Television,...",electronics,85999.0,150000.0,64001.0,42.67
10186,Rechargeable Cordless Pressure Car Wash Machine,home-office-appliances,6000.0,70000.0,64000.0,91.43
11100,Lenovo Refurbished Thinkpad X250 Intel Core I5...,computing,18000.0,80000.0,62000.0,77.50
11657,"HP Refurbished ProBook 640 G1 Core I5, 8GB RAM...",computing,18730.0,80000.0,61270.0,76.59

In [48]:
# Average discount per product category 

products_dataset.groupby("category").agg({"discount": "mean"})

                              discount
category
baby-products               156.707948
category-fashion-by-jumia   545.633427
computing                  2407.516393
electronics                3625.052991
health-beauty               139.890973
home-office                 743.404676
home-office-appliances     1021.967434
phones-tablets             2935.736872
sporting-goods              623.421021

In [ ]:
# Distribution of prices